<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Resultados de tu búsqueda'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner"></div>
	<!-- /Banner -->

	<!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de la búsqueda: <%= data.length %> </h2>
			</div>
			<% for (var i = 0; i < data.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/<%= data[i].id %>">
							<figure class="product-box_image">
								<img src="/images/products/<%=data[i].image%>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2><%= "$" + toThousand(data[i].price - data[i].discount)%> </h2>
								<span> <%="%" + ((data[i].discount*100)/data[i].price) %> </span>
								<p> <%= data[i].name %></p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
			<% } %>
			<% if (data.length == 0) {%>
				 
			<div class="col-12">
				<h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
			</div>
		
			<% } %> 
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>